<link rel="stylesheet" href="/stylesheets/st.css">
<div class="container p-lg-5  fs-5 core-div" style="width: 33%">
    <div class="row border-dark border-1 border">
    <div class="col-12 p-4">
        <h2 class="title text-center">Confirm your </h2>
    </div>
    <div class="col-12 p-4 d-flex justify-content-center">
        <input type="text" class="form-control fs-5 input-verification"  style="width: 40%" maxlength="6">

    </div>
    <div class="col-12 d-flex justify-content-around p-4">
        <button class="btn btn-primary send">Send code</button>
        <button class="btn btn-success confirm" disabled >Confirm</button>
    </div>
        <div class="col-12 text-center fs-6">
            <p id="show-timer"></p>
        </div>
    <div class="col-12 text-center p-4 fs-6">
        <div class="information">Please, click send code</div>
    </div>
    </div>
</div>

<script src="/scripts/verification.js"></script>